.product {
  max-width: 1109px;
  background-color: #171717;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

.product__title {
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 132.8%;
  margin: 28px 0 37px 0;
}

.product__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 132.8%;
  max-width: 70%;
  margin: 0;
}

.product__photo1 {
  width: 100%;
}

.product__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin: 91px 0 100px 0;
  gap: 55px;
}

.product__grid-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132.8%;
  margin: 0;
}

.product__grid-plus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: start;
}

.product__grid-plus-photo {
  max-width: 447px;
  margin: 0 0 0 0;
}

.product__grid-plus-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  max-width: 70%;
}

.product__grid-plus-list {
  margin: 0;
  padding: 35px 0 0 20px;
}

.product__grid-plus-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132.8%;
  margin: 0 0 9px 0;
  max-width: 80%;
}

.product__grid-photo {
  max-width: 512px;
}
