.product {
  max-width: 1109px;
  background-color: #171717;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

.product__title {
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 132.8%;
  margin: 28px 0 37px 0;
}

.product__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 132.8%;
  max-width: 70%;
  margin: 0;
}

.product__photo1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  border-radius: 8px;
}

.product__photo_ceramic-coating {
  background-image: url(../images/IMG_7503.jpg);
}

.product__photo_interior-polishing {
  background-image: url(../images/polirsalon.jpg);
}

.product__photo_tinting {
  background-image: url(../images/602df7c59c9deb6d3d3a0059226b02cf.jpg);
}

.product__photo_vinil-work {
  background-image: url(../images/vinil-work222.jpg);
}

.product__photo_steam-engine-wash {
  background-image: url(../images/_MG_1169.jpg);
}

.product__photo_installation-sound {
  background-image: url(../images/installation-sound222.jpeg);
}

.product__photo_car-preparation {
  background-image: url(../images/м1.jpg);
}

.product__photo_search-masters {
  background-image: url(../images/b_5d7b4957e0561.jpg);
}

.product__photo_interior-detailing {
  background-image: url(../images/_file5dc9517b4cac1.jpg);
}

.product__photo_glass-protection {
  background-image: url(../images/_MG_1156.jpg);
}

.product__photo_training-specialists {
  background-image: url(../images/m4.jpg);
}

.product__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin: 91px 0 100px 0;
  gap: 55px;
}

.product__grid-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132.8%;
  margin: 0;
}

.product__grid-plus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: start;
}

.product__grid-plus-photo {
  max-width: 447px;
  margin: 0 0 0 0;
}

.product__grid-plus-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  max-width: 70%;
}

.product__grid-plus-list {
  margin: 0;
  padding: 35px 0 0 20px;
}

.product__grid-plus-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 132.8%;
  margin: 0 0 9px 0;
  max-width: 80%;
}

.product__grid-photo {
  max-width: 512px;
}

img {
  border-radius: 8px;
}
